<!-- <app-diretivas-ngif></app-diretivas-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretivas-ngstyle></app-diretivas-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exmplo-ng-content>
  Conteudo passado para esse componente
  <app-operador-elvis></app-operador-elvis>
</app-exmplo-ng-content> -->

<app-exmplo-ng-content>
  <div class="titulo">Titulo do Painel</div>
  <div class="corpo">Conteudo passado para esse componente</div>
</app-exmplo-ng-content>
